# Python3 Requirements File

# Ansible
ansible  # automate configuration and more
ansible-lint  # ansible-specific linter

# Windows support for Ansible
pywinrm  # Python library for Windows Remote Management (WinRM)