.vagrant/
*.log
*.retry
__pycache__/
*.pyc
.ansible/
ansible/.vault_pass
ansible/collections/
*.box
docs/public/
docs/resources/
**/.venv/
**/*.ovpn
*.ovpn
venv/
kali/packer/output-kali/
kali/packer/packer_cache/
*.iso
